
<?xml version='1.0'?>
<model>
  <name>Custom Waves</name>
  <version>1.0</version>
  <sdf version='1.6'>model.sdf</sdf>

  <author>
    <name>William McConnell</name>
    <email>wmcconnell31@gatech.edu</email>
  </author>

  <description>
    Custom waves for the MRG modimoop world
    
    This model uses the materials from the `waves`
    model to prevent duplicating the large mesh files.
  </description>
</model>

