<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="simple_asv_float">

  <xacro:property name="L" value="1.0"/>
  <xacro:property name="W" value="0.4"/>
  <xacro:property name="H" value="0.2"/>
  <xacro:property name="m" value="0.1"/>

  <xacro:property name="ixx" value="${(1.0/12.0)*m*(W*W + H*H)}"/>
  <xacro:property name="iyy" value="${(1.0/12.0)*m*(L*L + H*H)}"/>
  <xacro:property name="izz" value="${(1.0/12.0)*m*(L*L + W*W)}"/>

  <link name="base_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="${m}"/>
      <inertia ixx="${ixx}" ixy="0" ixz="0" iyy="${iyy}" iyz="0" izz="${izz}"/>
    </inertial>
    <visual><geometry>
        <mesh filename="package://mrg_modimoop_description/models/mrg_modimoop_base/hull/hull.STL" scale="0.001 0.001 0.001"/>
      </geometry></visual>
      <material><color rgba="0.6 0.6 0.6 1.0"/></material>
    <collision>
    <geometry>
      <box>
        <size>1.20 0.40 0.25</size>
      </box>
    </geometry>
    </collision>
  </link>

  <gazebo>

    
  </gazebo>

</robot>
